- @feed.each do |f|
  %li{style:'height: 80px;'}
    %span.content
      = avatar_tag f.user
      = link_to f.user.full_name, f.user, style: 'font-weight:bold'
      - case f
        - when Comment
          posted a new comment about
          = link_to f.restaurant.name, f.restaurant
          in
          = succeed(':') do
            = f.restaurant.city.name.to_s
          .comment
            = f.body
        - when ListItem
          has added
          = link_to f.restaurant.name, f.restaurant
          to their
          = link_to f.list.city.abbreviation + " Bitelist.", f.list
        - when List
          has added
          = link_to f.city.name.to_s, f
          to their Bitelists

    %span.timestamp
      Posted
      = time_ago_in_words(f.created_at)
      ago.
