- provide(:title, 'Create Bite List')

%h1.big_title
  Create Bite List

.row
  .span6.offset3
    = render 'layouts/error_messages_lists'
.row
  .span2.offset4
    = form_for @list do |f|
      = image_submit_tag 'sf.jpg', :class => 'full_width'
      = f.hidden_field :city_id, :value => @sfo.id
      = f.submit "SF", class: "btn btn-large btn-primary full_width"
  .span2
    = form_for @list do |f|
      = image_submit_tag 'boston.jpg', :class => 'full_width'
      = f.hidden_field :city_id, :value => @bos.id
      = f.submit "Boston", class: "btn btn-large btn-primary full_width"
