- provide(:title, 'Create Bitelist')

%h1.big_title
  Create Bitelist

.row
  .span6.offset3
    = render 'shared/error_messages', :record => @list
.row
  .span4.offset2
    = form_for @list do |f|
      = image_submit_tag 'sf.jpg', :class => 'full_width'
      = f.hidden_field :city_id, :value => @sfo.id

  .span4
    = form_for @list do |f|
      = image_submit_tag 'boston.jpg', :class => 'full_width'
      = f.hidden_field :city_id, :value => @bos.id

  .span4.offset2
    = form_for @list do |f|
      = image_submit_tag 'hawaii.jpg', :class => 'full_width'
      = f.hidden_field :city_id, :value => @hon.id

  .span4
    = form_for @list do |f|
      = image_submit_tag 'nyc.jpg', :class => 'full_width'
      = f.hidden_field :city_id, :value => @nyc.id
