- provide(:title, 'Create Bite List')

%h1.big_title
  Create Bite List

.row
  .span6.offset3
    = render 'layouts/error_messages_lists'
.row
  .span2.offset4
    = form_for @list do |f|
      = f.hidden_field :city_id, :value => @sfo.id
      = f.submit "SF", class: "btn btn-large btn-primary", :style => "width: 100%;"
  .span2
    = form_for @list do |f|
      = f.hidden_field :city_id, :value => @bos.id
      = f.submit "Boston", class: "btn btn-large btn-primary", :style => "width: 100%;"
