<% provide(:title, 'Create Bite List') %> 

<h1 style="text-align:center;">Create Bite List</h1>

<div class = "row">
  <div class ="span6 offset3">
       <!-- render the partial _error_messages.html.erb --> 
    <%= render 'layouts/error_messages_lists' %>
    <%= form_for @list do |f| %>
      <%= f.label :state %>
      <%= f.select :state, options_for_select([["Select One", ""], "CA", "HI", "MA", "NY"]) %>
      <%= f.label :city %>
      <%= f.text_field :city %>
      
      <%= f.submit "Create Bite List", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

