- provide(:title, "Sign in")

%h1.big_title
  Sign In

.row
  %aside.span3.offset3
    %section{style: 'bottom-border:solid 1px;'}
      %h2
        Facebook
      %p.center
        =link_to image_tag("fb_connect.png"), "/auth/facebook"
  .span3.center
    %h2
      Bitelist
    = form_for(:session, url: sessions_path) do |f|
      .pull-left
        = f.label :email
      = f.email_field :email
      .pull-left
        = f.label :password
      = f.password_field :password
      = f.submit "Login", class: "btn btn-large btn-primary"

    %p
      Don't have an account? 
      = link_to "Sign up now!", new_user_path

    %p
      Forgot your password? 
      = link_to "Recover it here!", new_password_reset_path    