= provide(:title, 'Search')

%h1.big_title
  Facebook Friends

%ul.users
  - @friends.each do |user|
    %li
      = avatar_tag user, link: true
      = link_to user.full_name, user

      - if current_user.admin? && !current_user?(user)
        = link_to "Remove", user, method: :delete, confirm: "Are you sure you want to delete #{user.full_name}?", style: 'float:right;'