= provide(:title, 'Search')

%h1.big_title
  Search

- # render the followers and followeds
%section{style: 'position:absolute; left: 50%; margin-left:-65px;'}
  = render 'layouts/stats'
%br/
%br/
%br/

%ul.users
  - @users.each do |user|
    %li
      = avatar_tag user, link: true
      = link_to user.full_name, user

      - if current_user.admin? && !current_user?(user)
        = link_to "Remove", user, method: :delete, confirm: "Are you sure you want to delete #{user.full_name}?", style: 'float:right;'
  = will_paginate(@users, :page_links => false)
