- provide(:title, 'Sign up')

%h1.big_title
  Sign Up

.row
  .span6.offset3
    = render 'layouts/error_messages'
    = form_for @user do |f|
      = f.label :email
      = f.email_field :email

      = f.label :password
      = f.password_field :password

      = f.submit "Create my Account", class: "btn btn-large btn-primary"
