= provide(:title, @user.full_name)

.row
  %aside.span4.offset1
    %section
      %h1{:style => "padding-bottom: 5px;"}
        = avatar_tag @user
        = @user.full_name
      - if current_user? @user
        = link_to 'Create Bitelist', new_list_path, :class => "btn btn-warning"
      - else
        = render 'follow_form' if signed_in?
    %section.pad_bottom
      = render 'layouts/stats'

    - # only can show when a user is logged in or has something in their lists
    - if @user.lists.any?
      %h3.big_title
        - if current_user? @user
          Your
        Bitelists
      %ol.lists
        %li
          = render "lists/list"

  .span6.tabbable
    %ul.nav.nav-tabs
      - if current_user? @user
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1", style:'font-weight:bold;'} Bite Feed
      %li{ :class => active_unless_current_user }
        %a{"data-toggle" => "tab", :href => "#tab2", style:'font-weight:bold;'}
          - if current_user? @user
            My
          Activity

    .tab-content
      - if current_user? @user
        #tab1.tab-pane.active
          %ol.lists
            - if @feed.any?
              = render 'lists/feed'
            - else
              %li
                .well
                  Nothing new has happened yet :(
      #tab2.tab-pane{ :class => current_user?(@user) ? '' : 'active' }
        %ol.lists
          - if @user_feed.any?
            = render 'lists/user_feed'
          - else
            %li
              .well
                Nothing new has happened yet :(
