= provide(:title, @user.full_name)

.row
  %aside.span4
    %section
      %h3{style: 'margin-bottom:5px;'}
        = image_tag @user.avatar_url, size:'50', class: 'gravatar'
        = @user.full_name
      - if current_user? @user
        = link_to new_list_path, :class => "btn btn-warning" do
          %i.icon-plus.icon-white
          Add Bitelist
      - else
        = render 'follow_form' if signed_in?
    %section.pad_bottom
      = render 'layouts/stats'

    - # if the current user is the user then show the map
    - if current_user? @user
      - #show the map
      #map-nearby
        %h3.big_title
          Bites Near You
          %ol.lists
            %li
        = gmaps("map_options" => {"detect_location" => false, "center_on_user" => true, "auto_zoom" => false, "zoom" => 12, "auto_adjust" => false, "markers" => {"data" => @maps_json}})
        %br/
        %br/
    - # only show when a user is logged in or has something in their lists
    - if @user.lists.any?
      %h3.big_title
        - if current_user? @user
          Your
        Bitelists
      %ol.lists
        %li
          = render "lists/list"
    - if  current_user? @user and @non_followed_fb_users.any? 
      %h3.big_title
        Follow other Biters
      %ol.lists
        %li
        - @non_followed_fb_users.each do |user|
          = avatar_tag(user, size:50, link:true)
          = link_to user.full_name, user
          #follow_form
            = form_for(current_user.relationships.build(followed_id: user.id), id:'follow_form') do |f|
              %div
                = f.hidden_field :followed_id
              = f.submit "Follow", class: "btn btn-primary pull-right", style: 'margin-top:-30px;'
          %br/
    .pad_bottom
      = image_tag 'divider_big_transparent.jpg'

  .span8.tabbable
    %ul.nav.nav-tabs
      - if current_user? @user
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1", style:'font-weight:bold;'} Bite Feed
      %li{ :class => active_unless_current_user }
        %a{"data-toggle" => "tab", :href => "#tab2", style:'font-weight:bold;'}
          - if current_user? @user
            My
          Activity

    .tab-content
      - if current_user? @user
        #tab1.tab-pane.active
          - if @my_feed.any?
            %ol.lists
              = render 'stories/stories', stories: @my_feed
          - else
            .well
              Nothing new has happened yet :(
      #tab2.tab-pane{ :class => current_user?(@user) ? '' : 'active' }
        - if @user_feed.any?
          %ol.lists
            = render 'stories/stories', stories: @user_feed
        - else
          .well
            Nothing new has happened yet :(
:javascript 
  $(document).ready(function(){
    $('.gravatar').tooltip();
  });

- content_for :scripts do
  :javascript
    Gmaps.map.geolocationSuccess = function(){
      var lng = Gmaps.map.userLocation.lng();
      var lat = Gmaps.map.userLocation.lat();
      //load map then add the markers
      $('.map_container').hide();
      $('.map_container').show();
      Gmaps.loadMaps();

      //add markers from controller
      Gmaps.map.addMarkers(#{@maps_json});

      var user_image = "http://wiki.alumni.net/wiki/images/thumb/5/55/Wikimap-blue-dot.png/50px-Wikimap-blue-dot.png";

      //add current location marker
      Gmaps.map.addMarkers([{
        "lng": lng,
        "lat": lat,
        "width":"40",
        "height":"48",
        "picture": user_image
      }]);

      //center the screen on your current location
      Gmaps.map.serviceObject.setCenter(new google.maps.LatLng(lat, lng));
      Gmaps.map.serviceObject.setZoom(14);
    };
