= provide(:title, @user.full_name)

.row
  %aside.span4
    %section
      %h1{:style => "padding-bottom: 15px;"}
        = gravatar_for @user
        = @user.full_name
      - if current_user? @user
        = link_to 'Create Bite List', new_list_path, :class => "btn btn-warning"
      - else
        = render 'follow_form' if signed_in?
    %section
      = render 'layouts/stats'
      
  .span8
    - # only can show when a user is logged in or has something in their lists
    - if current_user && @user.lists.any?
      %h3.big_title
        Bite Lists (#{@user.lists.count})
      %ol.lists
        %li
          = render "lists/list"
      = will_paginate @lists, :page_links => false