%h1 Listing stories

%table
  %tr
    %th User
    %th Subject type
    %th Subject
    %th
    %th
    %th

  - @stories.each do |story|
    %tr
      %td= story.user
      %td= story.subject_type
      %td= story.subject_id
      %td= link_to 'Show', story
      %td= link_to 'Edit', edit_story_path(story)
      %td= link_to 'Destroy', story, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Story', new_story_path
