%p
  %b Restaurant:
  = @edit_request.restaurant
%p
  %b User:
  = @edit_request.user
%p
  %b Status
  = @edit_request.rejected? ? 'rejected' : 'not reviewed'
- @edit_request.parsed_params.each do |key, val|
  %p
    %b #{key.titleize}:
    = @edit_request.diff(key).format_as(:html).html_safe
