= provide(:title, @restaurant.name)

%h1 Edit restaurant info

= form_for @edit_request, html: {class: 'form-horizontal'} do |f|
  = f.hidden_field :restaurant_id, value: @restaurant.id
  .control-group
    = label_tag 'restaurant[name]', 'Restaurant name', class: 'control-label'
    .controls
      = text_field_tag 'restaurant[name]', @restaurant.name
  .control-group
    = label_tag 'restaurant[picture_url]', 'Picture URL', class: 'control-label'
    .controls
      = text_field_tag 'restaurant[picture_url]', @restaurant.picture_url
  .control-group
    = label_tag 'restaurant[phone_number]', 'Phone number', class: 'control-label'
    .controls
      = text_field_tag 'restaurant[phone_number]', @restaurant.phone_number
  .control-group
    = label_tag 'restaurant[category]', 'Category', class: 'control-label'
    .controls
      = text_field_tag 'restaurant[category]', @restaurant.category
  .control-group
    = label_tag 'restaurant[address]', 'Address', class: 'control-label'
    .controls
      = text_field_tag 'restaurant[address]', @restaurant.address
  .control-group
    = label_tag 'restaurant[postal_code]', 'ZIP code', class: 'control-label'
    .controls
      = text_field_tag 'restaurant[postal_code]', @restaurant.postal_code
  .control-group
    = label_tag 'restaurant[website_url]', 'Website URL', class: 'control-label'
    .controls
      = text_field_tag 'restaurant[website_url]', @restaurant.website_url

  .control-group
    .controls
      = f.submit 'Submit edit request', class: 'btn btn-primary'
