%h1.big_title
  Bite Form

.row
  .span6.offset3
    = render 'shared/error_messages', :record => @restaurant
    = form_for @restaurant do |f|
      = f.label :name, "Yelp URL"
      = f.text_field :yelp_url

      = f.submit "Request Restaurant", class: "btn btn-primary"
