%h1.big_title
  Bite Form

.row
  .span6.offset3
    = render 'layouts/error_messages_restaurants'
    = form_for @restaurant do |f|
      = f.label "Restaurant Name"
      = f.text_field :name

      = f.label :phone_number
      = f.text_field :phone_number

      = f.label :address
      = f.text_field :address

      = f.label :postal_code
      = f.text_field :postal_code

      = fields_for :city do |u|
        = u.label :city
        = u.select :name, options_for_select(City.select_options)

      = f.submit "Request Restaurant", class: "btn btn-primary"
