= provide(:title, @restaurant.name)

.row
  %aside.span4
    %section
      %h1{:style => "padding-bottom: 5px; float: left;"}
        = image_tag(@restaurant.picture_url, size: '50x50', title: @restaurant.name, alt: @restaurant.name)

      %div{style: 'margin-left: 7px; float: left;'}
        %h1
          = truncate(@restaurant.name, length: 20)
          - if current_user
            = link_to edit_restaurant_path do
              %i.icon-pencil{style:'margin-left:5px; margin-top:5px;'}>
          %br/
        .pull-left
          = link_to_phone(@restaurant.phone_number) if @restaurant.phone_number.present?
    .pull-left
      - # if current_user has a list in the current restaurant's city then allow them to add the current resto to that city
      - if current_user and current_user.cities.include?(@restaurant.city)
        - if current_user.restaurants.include?(@restaurant)
          %i.icon-ok
          This is in your Bitelist!
        - else
          %i.icon-plus
          = link_to "Add to your list", add_to_list_restaurant_path(@restaurant), method: 'post'
        %br/
      - else
        - if current_user
          %i.icon-plus
          = link_to "Create a #{@restaurant.city.name} Bitelist!", new_list_path
          %br/
        - else
          %i.icon-plus
          = link_to "Sign in to create a Bitelist!", signin_path
          %br/
      - if @restaurant.category
        %b Category:
        = truncate(@restaurant.category, length: 30)
      - if @restaurant.website_url
        %br/
        %b Website:
        = link_to truncate(@restaurant.name, length: 30), @restaurant.website_url, :target => '_blank'
    - if @restaurant.website_url
      %br/

    %br/
    %br/
    %br/
    .pull-left
      #{@restaurant.address}
      %br/
      #{@restaurant.city_state_zip}
      %br/
      %i.icon-road
      = link_to "Get Directions","javascript:get_maps('#{@restaurant.gmaps4rails_address}');"
    %br/
    %br/
    %br/
    %br/

    - if current_user && @followed_users.any?
      %ol.lists
        .row
          %aside.span4
            %h3.big_title Fellow Biters
            %br/
            %li
              - @followed_users.each do |user|
                = avatar_tag(user, size:50, link:true)
      %br/
      %br/
      %section

  .span8
    - # put the restaurant's website, pictures, address, comments here
    %h3.big_title Location
    %ol.lists
      %li
        = gmaps("map_options" => { "zoom" => 15, "auto_zoom" => false }, "markers" => { "data" => @maps_json })

    %br/
    - if signed_in?
      %h3.big_title
        Comments
      %div
        = render 'comments/comment'
    - else
      .well
        %h2{style:'margin-bottom: 0px;'}
          = link_to "Sign in to get exclusive content!", signin_path
:javascript
  $(document).ready(function(){
    $('.gravatar').tooltip();
  });

  function get_maps(location){
    if(/(iPhone|iPod|iPad)/i.test(navigator.userAgent)) {
      if(/OS [2-5]_\d(_\d)? like Mac OS X/i.test(navigator.userAgent)) {
        // iOS 2-5 go to google maps
        window.location = 'http://maps.google.com/maps?saddr=Current+Location&daddr=' + location;
      } else if(/CPU like Mac OS X/i.test(navigator.userAgent)) {
        // iOS 1 go to google maps
        window.location = 'http://maps.google.com/maps?saddr=Current+Location&daddr=' + location;
      } else {
        // iOS 6 or Newer go to apple maps
        window.location = 'http://maps.apple.com/maps?daddr=' + location;
      }
    } else {
      //default is to go to google maps
      window.location = 'http://maps.google.com/maps?saddr=Current+Location&daddr=' + location;
    }
  }
