= provide(:title, @restaurant.name.html_safe)

.row
  %aside.span4
    %section
      %h1{:style => "padding-bottom: 5px;float:left;"}
        = image_tag(@restaurant.picture_url, size: '50x50', title: @restaurant.name, alt: @restaurant.name)

      %div{style: 'margin-left: 7px; float:left;'}
        %h1
          = truncate(@restaurant.name, length:20)
          %br/
        .pull-left
          = link_to_phone(@restaurant.phone_number)
    .pull-left 
      - if @restaurant.category
        %b Category:
        = @restaurant.category
    %br/
    %br/
  
    .pull-left
      = @restaurant.address

    %br/
    .pull-left
      = @restaurant.city_state_zip
    %br/
    %br/
    %section


  .span8
    - # put the restaurant's website, pictures, address, comments here
    %h3.big_title Location
    %ol.lists
      %li
        .well
          = gmaps("map_options" => { "zoom" => 15, "auto_zoom" => false }, "markers" => { "data" => @maps_json })

    %br/
    - if signed_in?
      %h3.big_title 
        Comments
      %div
        = render 'comments/comment'
    -else
      .well
        %h2{style:'margin-bottom: 0px;'}
          =link_to "Sign in to get exclusive content!", signin_path