%h1{style: 'text-align: center;'}
  Group Bites

%h2{style: 'text-align:center;'}
  Bitelist recommends the following places for your group!

.row 
  .span6.offset3
    -if @users.any?
      - @users.each do |user|
        = link_to (gravatar_for user, :size => 50), user
%br/

.row
  .span6.offset3
    - if @recommendations.count > 1
      .well= gmaps4rails(@maps_json)
    - if @recommendations.count == 1
      .well= gmaps("map_options" => { "zoom" => 15, "auto_zoom" => false }, "markers" => { "data" => @maps_json })

.row
  .span6.offset3
    - if @users.any?
      %ul.users
        - @recommendations.each do |recommendation|
          .well
            .pull-left.list-image= image_tag recommendation.picture_url, size: '40x40'
            %h3.pull-left= link_to truncate(recommendation.name, length: 20), recommendation