!!!

%html
  %head
    %title
      = full_title yield(:title)
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'layouts/shim'
    = stylesheet_link_tag "gmaps4rails"

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %body
    = render 'layouts/header'

    - flash.each do |key, value|
      .alert{ :class => "alert-#{key}" }= value

    .container
      = yield

      = render 'layouts/footer'

      = yield :scripts
    - if Rails.env.production?
      %a{ :title => "Web Analytics", :href => "http://getclicky.com/66616442"}
        %img{ :alt => "Web Analytics", :src => "//static.getclicky.com/media/links/badge.gif", :border => "0" }
      %script{ :src => "//static.getclicky.com/js", :type => "text/javascript" }
      :javascript
        try{ clicky.init(66616442); }catch(e){}
      %noscript
        %p
          %img{ :alt => "Clicky", :width => "1", :height => "1", :src => "//in.getclicky.com/66616442ns.gif" }
