!!!

%html
  %head
    %title
      = full_title yield(:title)
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'layouts/shim'
    = stylesheet_link_tag "gmaps4rails"


    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %body
    = render 'layouts/header'

    - flash.each do |key, value|
      .alert{ :class => "alert-#{key}" }= value

    .container
      = yield

      = render 'layouts/footer'

      = yield :scripts
