!!!

%html
  %head
    %title
      = full_title yield(:title)
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    = stylesheet_link_tag "gmaps4rails"
    = analytics_init if Rails.env.production?
    = analytics_init local: Rails.env.development?

    = javascript_include_tag "jquery.tokeninput.js"
    = stylesheet_link_tag "token-input-facebook.css"

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %body
    = render 'layouts/header'

    - flash.each do |key, value|
      .alert{ :class => "alert-#{key}" }= value

    .container
      = yield

      = render 'layouts/footer'

      = yield :scripts