<!DOCTYPE html>
<html>
<head>
  <!--use the application_helper full_title method here-->
  <title><%= full_title(yield(:title))%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <!-- partial for talking to 'layouts/_header' -->
  <%= render 'layouts/header' %>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%=value%></div>
  <% end %>

  <!--container for the actual content of the page--> 
  <div class='container'>
    <%= yield %>
  <!-- partial for talking to 'layouts/footer' -->
  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
