!!!

%html
  %head
    %title
      = full_title yield(:title)
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    = stylesheet_link_tag "gmaps4rails"
    = analytics_init if Rails.env.production?
    = analytics_init local: Rails.env.development?

    = javascript_include_tag "jquery.tokeninput.js"
    = stylesheet_link_tag "token-input-facebook.css"

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %body
    = render 'layouts/header'

    - flash.each do |key, value|
      .alert{ :class => "alert-#{key}" }= value

    .container
      = yield

      = render 'layouts/footer'

      = yield :scripts

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_floating_style addthis_counter_style" style="left:50px;top:50px;">
<a class="addthis_button_facebook_like" fb:like:layout="box_count"></a>
<a class="addthis_button_tweet" tw:count="vertical"></a>
<a class="addthis_button_google_plusone" g:plusone:size="tall"></a>
<a class="addthis_counter"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51a6353f63bb2042"></script>
<!-- AddThis Button END -->